body {
    font-family: "Bitstream Charter", serif;
    margin: 0;
}

#product-overview {
    background: #ff1b68;
    color: antiquewhite;
    font-family: 'Anton', sans-serif;
    padding: 20px;
    border: solid black 5px;
    margin: 10px;
    text-align: center;
}

.section-title{
    color: #2ddf5c;
    font-family: inherit;
}